<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div>

    <h1>BUTTONS</h1>
   
<button id='btn1'>button</button><br>
<button id='btn2'>button</button><br>
<button id='btn3'>button</button><br>
<button id='btn4'>button</button><br>
<button id='btn5'>button</button><br>
<button id='btn6' disabled >disabled</button><br>
<button id='btn7' disabled >disabled</button><br>
<button id='btn8'><i class="glyphicon glyphicon-cloud"></i> button</button><br>
<button id='btn9'><i class="glyphicon glyphicon-envelope"></i> button</button><br>
<button id='btn10'>button</button><br>
<button id='btn11'>button</button><br>
<button id='btn12'>button</button><br>
<button id='btn13'>button</button><br>
<button id='btn14'>button</button><br>

  </div>
</body>

</html>
